*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  background-color: #FEFEFE;
  color: #404046;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: grid;
  position: relative;
  grid-template-rows: repeat(9, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 13.75rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-row-gap: 1rem;
}
@media only screen and (max-width: 60em) {
  .container {
    grid-template-columns: [full-start] minmax(6px, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 13.75rem) [col-end]) [center-end] minmax(6px, 1fr) [full-end];
    grid-row-gap: 1rem;
  }
}
@media only screen and (max-width: 37.25em) {
  .container {
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13.75rem) [col-end]) [center-end] 1fr [full-end];
    grid-row-gap: 1rem;
  }
}

.header {
  background-color: #0c0c0c;
  grid-row: 1/2;
  grid-column: full-start/full-end;
  padding: 0.7rem 0;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}

.top-nav {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}
.top-nav__list {
  display: flex;
  list-style-type: none;
  margin-right: auto;
  align-items: center;
}
.top-nav__logo {
  height: 2.5rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  align-self: center;
  margin-top: 0.4rem;
}
.top-nav__item p {
  color: #DBDBDB;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 60em) {
  .top-nav__item p {
    display: none;
  }
}
.top-nav__item:not(:last-child) {
  margin-right: 1.5rem;
}
.top-nav__icons {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.top-nav__icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: #ffffff;
}
.top-nav__icon:not(:first-child) {
  margin-left: 2rem;
}
.top-nav__icon:last-child {
  margin-right: 1rem;
}
.top-nav__hamburger {
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.top-nav__hamburger-line {
  width: 2rem;
  height: 1px;
  background-color: #ffffff;
}
.top-nav__hamburger-line:not(:last-child) {
  margin-bottom: 4.3px;
}

@media only screen and (max-width: 60em) {
  .remove-on-mobile {
    display: none;
  }
}

.display-none {
  display: none;
}

.navigation {
  margin-top: 4rem;
  grid-row: 2/3;
  grid-column: col-start 1/col-end 8;
}
.navigation__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.navigation__list--item {
  border-right: 2px solid #D9D9D9;
  padding-right: 1rem;
  margin-right: 1.3rem;
}
.navigation__list--text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #0c0c0c;
  cursor: pointer;
}
.navigation__list--text:hover {
  color: #cc0000;
}
.navigation__list--text span {
  color: #cc0000;
  text-transform: uppercase;
}
@media only screen and (max-width: 60em) {
  .navigation {
    display: none;
  }
}

.main {
  grid-row: 3/4;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: minmax(min-content, 1.5fr) repeat(2, minmax(min-content, 1fr));
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 60em) {
  .main {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
}
@media only screen and (max-width: 37.25em) {
  .main {
    grid-template-columns: 1fr;
    padding: 0 3px;
  }
}
@media only screen and (max-width: 60em) {
  .main__section1 {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 60em) {
  .main {
    margin-top: 4rem;
  }
}

.e-ul {
  list-style-position: inside;
}

.e-li {
  border-bottom: 2px solid #D9D9D9;
}
.e-li span {
  color: #262626;
  font-weight: 700;
}

.newsbuzz {
  margin-top: 2rem;
  grid-row: 4/5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 60em) {
  .newsbuzz {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.25em) {
  .newsbuzz {
    grid-template-columns: 1fr;
    padding: 0 3px;
  }
}

.look {
  grid-row: 5/6;
  grid-column: center-start/center-end;
  margin-top: 2rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 60em) {
  .look {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }
}
@media only screen and (max-width: 37.25em) {
  .look {
    grid-template-columns: 1fr;
    padding: 0 3px;
  }
}

.closer {
  grid-column: 1/2;
}
@media only screen and (max-width: 60em) {
  .closer {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 37.25em) {
  .closer {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.feature {
  grid-column: 2/3;
}
@media only screen and (max-width: 60em) {
  .feature {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.25em) {
  .feature {
    grid-column: 1/-1;
  }
}

.break {
  grid-column: 3/4;
}
@media only screen and (max-width: 60em) {
  .break {
    grid-row: 2/3;
    grid-column: 2/-1;
  }
}
@media only screen and (max-width: 37.25em) {
  .break {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

.featured {
  grid-row: 6/7;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
@media only screen and (max-width: 60em) {
  .featured {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.25em) {
  .featured {
    grid-template-columns: 1fr;
    padding: 0 3px;
  }
}
.featured__header {
  grid-column: 1/-1;
}
.featured__sport {
  grid-column: 1/2;
}
.watch {
  grid-row: 7/8;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
}
.watch__header {
  grid-column: 1/-1;
  margin: 2rem 0;
}
.watch__content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 60em) {
  .watch__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 60em) {
  .watch__content--videos {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.25em) {
  .watch__content--trending {
    grid-column: 1/-1;
  }
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-column-gap: 2rem;
}

.photos {
  grid-row: 8/9;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2.5rem;
}
.photos__content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-column-gap: 2rem;
}
.photos__content-pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-column-gap: 3.5rem;
}
@media only screen and (max-width: 37.25em) {
  .photos {
    padding: 0 3px;
  }
}

.footer {
  background-color: #0c0c0c;
  padding: 5rem 0;
  min-height: 100vh;
  grid-column: full-start/full-end;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [center-start] repeat(7, minmax(min-content, 17.8rem)) [center-end] minmax(2rem, 1fr);
  grid-row-gap: 3rem;
}
.footer__search {
  grid-column: center-start/center-end;
}
.footer__search-form {
  display: flex;
}
.footer__search-input {
  width: 100%;
  padding: 1.2rem 0.5rem;
  border-radius: 3px;
  border: none;
}
@media only screen and (max-width: 60em) {
  .footer__search-input {
    width: 70%;
    margin: 0 auto;
  }
}
.footer__search-input::placeholder {
  font-size: 1.5rem;
  color: #404046;
}
.footer__search-submit {
  margin-left: -9rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 60em) {
  .footer__search-submit {
    display: none;
  }
}
.footer__search-submit span {
  font-weight: 700;
}
.footer__search-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
}
.footer__nav1 {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-row-gap: 3rem;
}
@media only screen and (max-width: 60em) {
  .footer__nav1 {
    display: flex;
    flex-direction: column;
  }
}
.footer__nav1-list {
  list-style-type: none;
  color: #ffffff;
}
.footer__nav1-list-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
}
@media only screen and (max-width: 60em) {
  .footer__nav1-list-header {
    text-align: center;
  }
}
.footer__nav1-list-item {
  font-size: 1.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 60em) {
  .footer__nav1-list-item {
    display: none;
  }
}
.footer__social {
  grid-column: center-start/center-end;
  padding-bottom: 3rem;
  border-bottom: 0.5px solid #D9D9D9;
  display: flex;
}
@media only screen and (max-width: 60em) {
  .footer__social {
    border-bottom: none;
    flex-direction: column;
    text-align: center;
    width: max-content;
    margin: 0 auto;
  }
}
.footer__social-logo {
  margin-right: auto;
}
@media only screen and (max-width: 60em) {
  .footer__social-logo {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.footer__social-logo img {
  height: 2.5rem;
}
.footer__social-wrapper {
  display: flex;
  align-items: center;
}
.footer__social-wrapper p {
  color: #ffffff;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid #ffffff;
}
.footer__social-wrapper svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #ffffff;
}
.footer__social-wrapper svg:not(:last-child) {
  margin-right: 1.4rem;
}
.footer__nav2 {
  grid-column: center-start/center-end;
}
@media only screen and (max-width: 60em) {
  .footer__nav2 {
    text-align: center;
  }
}
.footer__nav2-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer__nav2 li {
  color: #ffffff;
  font-size: 1.2rem;
}
.footer__nav2 li:not(:last-child) {
  margin-right: 1.7rem;
}
.footer__copyright {
  grid-column: center-start/center-end;
}
@media only screen and (max-width: 60em) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__copyright p {
  font-size: 1.4rem;
  color: #ffffff;
}

.heading-1 {
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 6.2rem;
  color: #262626;
  text-align: center;
  cursor: pointer;
}
.heading-1:hover {
  color: #cc0000;
}

.heading-2 {
  font-size: 2rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.heading-2:hover {
  color: #cc0000;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3rem;
  margin-right: 1rem;
}

.heading-4 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.heading-4:hover {
  color: #cc0000;
}

.mb-small {
  margin-bottom: 2rem;
}

.news-box__top {
  position: relative;
}
.news-box__header {
  background-color: #D9D9D9;
  padding: 0.5rem;
}
.news-box__photo {
  width: 100%;
}
.news-box__taglines {
  list-style-type: none;
}
.news-box__tagline {
  padding-top: 0.4rem;
  border-top: 1px solid #D9D9D9;
  margin-bottom: 0.8rem;
  align-items: center;
}
.news-box__tagline span {
  color: #cc0000;
}
.news-box__icon {
  height: 1.7rem;
  width: 1.7rem;
  fill: #404046;
  margin-left: 0.6rem;
}
.news-box__news-video {
  border-top: 1px solid #D9D9D9;
  display: flex;
  align-items: flex-start;
}
.news-box__news-video:not(:first-child) {
  margin-top: 0.5rem;
}
.news-box__video-img {
  width: 25%;
  height: 7rem;
}
.news-box__video-text {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.red-headline__text {
  background-color: #cc0000;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  width: max-content;
  position: absolute;
  bottom: 0.5rem;
}

.section-header {
  display: flex;
  align-items: center;
}
.section-header__line {
  padding: 1px 0;
  width: 55vw;
  border-top: 4px solid #D9D9D9;
  border-bottom: 4px solid #D9D9D9;
}
@media only screen and (max-width: 60em) {
  .section-header__line {
    width: 70vw;
  }
}

.transparent {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.35);
}
.transparent__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  fill: #ffffff;
}
.transparent__text {
  font-size: 1.3rem;
  color: #ffffff;
}

/*# sourceMappingURL=style.compiled.css.map */
