
//color variables
$color-primary: #cc0000;

$color-dark-1: #0c0c0c;
$color-dark-2: #1A1A1A;

$color-white: #ffffff;

$background-color: #FEFEFE;

$color-grey-header: #262626;
$color-grey-text: #404046;
$color-grey-3: #D9D9D9;


//font-family variables
$font-primary:  'Helvetica', Arial, sans-serif ;

//font-size variables
$text-font: 1.5rem;
$h2-font: 2rem;


//responsive breakpoints
$bp-largest: 60em;

$bp-phone: 37.25em;


//global reset
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;       // 10 / 16 = 62.5;
}

body{
    font-family: $font-primary;
    background-color: $background-color;
    color: $color-grey-text;
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    display: grid;
    position: relative;

    grid-template-rows: repeat(9, min-content); 
    grid-template-columns: [full-start] minmax(2rem, 1fr)  [center-start] repeat(8, [col-start] minmax(min-content, 13.75rem) [col-end]) 
    [center-end]  minmax(2rem, 1fr) [full-end];
    grid-row-gap: 1rem;
}

