.header{
    background-color: $color-dark-1;

    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    padding: .7rem 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

.top-nav{
    display: flex;
    max-width: 80%;
    margin: 0 auto;

    &__list{
        display: flex;
        list-style-type: none;
        margin-right: auto;
        align-items: center;
    }

    &__logo{
        height: 2.5rem;
        margin-right: 1.5rem;
        margin-left: 1rem;
        align-self: center;
        margin-top: .4rem;
        // align-self: stretch;      
        // background-color: red;
    }

    &__item{
        
        & p{
            color: #DBDBDB;
            font-family: $font-primary;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2rem;
            text-transform: capitalize;

            @media only screen and (max-width: $bp-largest) {
                display: none;     
            }
        }

        
    }

    &__item:not(:last-child){
        margin-right: 1.5rem;
    }

    &__icons{
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__icon{
        height: 2.2rem;
        width: 2.2rem;
        fill: $color-white;
    }

    &__icon:not(:first-child){
        margin-left: 2rem;
    }

    &__icon:last-child{
        margin-right: 1rem;
    }

    &__hamburger{
        margin-left: 2rem;
        margin-right: 1rem;
        cursor: pointer;
        &-line{
            width: 2rem;
            height: 1px;
            background-color: $color-white;
            
            &:not(:last-child){
                margin-bottom: 4.3px;
            }
        }
    }
}

.remove-on-mobile{
    @media only screen and (max-width: $bp-largest) {
        display: none;     
    }
}

.display-none{
    display: none;
}

.top-line{

}

.mid-line{

}

.bottom-line{

}