.main{
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: minmax(min-content, 1.5fr)  repeat(2, minmax(min-content, 1fr));
    grid-column-gap: 2rem;

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
    }

    @media only screen and (max-width: $bp-phone) {
        grid-template-columns: 1fr;
    }

    &__section1{
        @media only screen and (max-width: $bp-largest) {
            grid-column: 1 / -1;            
        }
    }
    @media only screen and (max-width: $bp-largest) {
        margin-top: 4rem;
    }
}

.e-ul{
    list-style-position: inside;
}

.e-li{
    border-bottom: 2px solid $color-grey-3;

    & span{
        color: $color-grey-header;
        font-weight: 700;
    }
}