.newsbuzz{    
    margin-top: 2rem;
    grid-row: 4 / 5;
    grid-column: center-start / center-end;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-phone) {
        grid-template-columns: 1fr;
        padding: 0 3px;
    }
}
