.watch{
    grid-row: 7 / 8;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    // grid-template-columns: repeat(8, 1fr);

    

    &__header{
        grid-column: 1 / -1;
        margin: 2rem 0;
    }

    &__content{
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-column-gap: 2rem;

        @media only screen and (max-width: $bp-largest) {
            grid-template-columns: repeat(2, 1fr);
        }

        &--videos{

            @media only screen and (max-width: $bp-largest) {
                grid-column: 1 / -1;                
            }
        }

        &--trending{
            @media only screen and (max-width: $bp-phone) {
                grid-column: 1 / -1;                
            }
        }
    }
}

.videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-column-gap: 2rem;
}